Flask==3.0.3
pyTelegramBotAPI==4.22.1
requests==2.32.3
python-dotenv==1.0.1
pandas==2.2.2
import telebot

TOKEN = 8941502684:AAGGo0w1njEw0VDEgtKiBWBIDTnHRKTiiqM
bot = telebot.TeleBot(TOKEN)

@bot.message_handler(commands=['start', 'score'])
def send_welcome(message):
    bot.reply_to(message, "Salut! Je suis ton bot foot ⚽ Tape /score pour les matchs du jour")

bot.polling()
